{% extends 'base.html' %}
{% block css %}
    <style>
    #div_digg {
    float: right;
    margin-bottom: 10px;
    margin-right: 30px;
    font-size: 12px;
    width: 125px;
    text-align: center;
    margin-top: 10px;
}
    .diggit {
    float: left;
    width: 46px;
    height: 52px;
    background: url('/static/img/upup.gif') no-repeat;
    text-align: center;
    cursor: pointer;
    margin-top: 2px;
    padding-top: 5px;
}
    .buryit {
    float: right;
    margin-left: 20px;
    width: 46px;
    height: 52px;
    background: url('/static/img/downdown.gif') no-repeat;
    text-align: center;
    cursor: pointer;
    margin-top: 2px;
    padding-top: 5px;
}
    .clear {
    clear: both;
}
    </style>
{% endblock %}

{% block content %}
    <h1>{{ article_obj.title }}</h1>
    <div class="article_content">
        {{ article_obj.content|safe }}
    </div>
    {# 点赞点踩样式 #}
    <div class="clearfix">
    <div id="div_digg">
        <div class="diggit action" >
            <span class="diggnum" id="digg_count">{{ article_obj.up_num }}</span>
        </div>
        <div class="buryit action" >
            <span class="burynum" id="bury_count">{{ article_obj.down_num }}</span>
        </div>
        <div class="clear"></div>
        <div class="diggword" id="digg_tips" style="color: red">
        </div>
    </div>
    </div>
      <hr>
    {# 评论楼渲染 #}
    <div>
    <ul class="list-group">
        {% for comment in comment_list %}
            <li class="list-group-item">
        <span>{{ forloop.counter }}楼</span>
        <span>{{ comment.comment_time|date:'Y-m-d h:i:s' }}</span>
        <span>{{ comment.user.username }}</span>
        <span><a class="pull-right reply" username="{{ comment.user.username }}" comment_id="{{ comment.pk }}">回复</a> </span>   {# 因为在循环里面，所以不能绑定id #}
        <div>
            {# 需要判断当前评论是否为子评论 #}
            {% if comment.parent_id %}
            <p>@{{ comment.parent.user.username }}</p>
            {% endif %}
            {{ comment.content }}
        </div>
            </li>
    {% endfor %}
    </ul>

    </div>

    {# 文章评论样式开始 #}
    {% if request.user.is_authenticated %}
    <div class="clearfix">
    <p><span class="glyphicon glyphicon-comment"></span>发表评论</p>
    </div>
    <div>
        <textarea name="comment" id="id_comment" cols="60" rows="10"></textarea>
    </div>
    <button class="btn btn-primary" id="id_submit">提交评论</button>
        <span style="color: red" id="comment_errors"></span>
        {% else %}
             <li><a href="{% url 'reg' %}">注册</a></li>
             <li><a href="{% url  'login' %}">登录</a></li>
    {% endif %}
    {# 文章评论样式结束 #}
{% endblock %}

{% block js %}
    <script>
    //给所有action绑定事件
    $('.action').click(function(){
        {#alert($(this).hasClass('diggit'))#}
        let isUp = $(this).hasClass('diggit');  //判断当前标签是否有diggit的类属性，如果有True，即赞。false则执行下面类属性，踩
        let $div = $(this);  //先把该div存起来
        //发送ajax请求
        $.ajax({
            url:'/up_or_down/',
            type:'post',
            data:{
                'article_id':'{{ article_obj.pk }}',
                'is_up':isUp,
                'csrfmiddlewaretoken':'{{ csrf_token }}'
            },
             success:function(args){
                 if(args.code == 1000) {
                     $('#digg_tips').text(args.msg)
                     //将前端的数字+1
                     //先获取之前的数字
                     let oldnumber = $div.children().text();  //文本 字符类型
                     $div.childern().text(Number(oldnumber)+1) //转换为数字相加
                 }else{
                     $('#digg_tips').html(args.msg)
                 }
                }
        })
    })
    let parent_id = null  //设置全局变量
    //用户点击按钮朝后端发ajax请求
    $('#id_submit').click(function () {
        //获取用户评论内容
        let content = $('#id_comment').val();
        //判断当前评论是否为子评论 如果是 需要将我们之前手动渲染的@username去除
        if (parent_id){
            //先找到\n对应的索引值，然后利用切片，但是切片顾头不顾尾 所以要索引+1
            let indexNum = content.indexOf('\n') + 1;
            content = content.slice(indexNum)  //将indexNum之前所有数据切除，只保留后面的部分
        }
        $.ajax({
            'url':'/comment/',
            'type':'post',
            'data':{
                'article_id':'{{ article_obj.pk }}',
                'content':content,
                //如果parent_id没有值，那么就是null，后端存储null没有问题
                'parent_id':parent_id,
                'csrfmiddlewaretoken':'{{ csrf_token }}'
            },
            success:function (args) {
                if (args.code==1000){
                    $('#comment_errors').text(args.msg)
                    //评论框里面的内容清空
                    $('#id_comment').val('');
                    //临时渲染评论楼
                    let userName = '{{ request.user.username }}';
                    let temp =  ''+
                        '<li class="list-group-item"> ' +
                        '<span>'+ userName + '</span>' +
                        '<div>' + content + '</div>'  +
                        '</li>' +
                                ''
                    {#//将生成好随机字符串放入url中#}
                    $('.list-group').append(temp);
                    //清空全局的parent_id字段
                    parent_id = null
                }
            }
        })
    })
    //g给回复按钮绑定点击事件
    $('.reply').click(function () {
        //需要评论对应评论人姓名 还需要根评论的主键值
        //获取用户名
        let commentUsername = $(this).attr('username');
        //获取主键值,直接修改全局变量
        parent_id = $(this).attr('comment_id');
        //拼接信息塞给评论框
        $('#id_comment').val('@' + commentUsername + '\n').focus();


    })
    </script>
{% endblock %}